pipeline/executepipeline.json
{
	"name": "executepipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max(PersonId) as id from data_source_table_demo",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "lookup_dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "lookup_activity_copy1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"val": {
							"value": "@activity('Lookup1').output",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "lookup_activity_copy1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"val": {
							"value": "@activity('Lookup1').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}