PowerBiDatasetRefresh/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PowerBiDatasetRefresh"
		},
		"Blobtoblobcpysrc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Blobtoblobcpysrc'"
		},
		"Edina_Dev_Sql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Edina_Dev_Sql'"
		},
		"blobtoblobcpydestination_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blobtoblobcpydestination'"
		},
		"cars_Sql_destination_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'cars_Sql_destination'"
		},
		"cars_cpy_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'cars_cpy_data'"
		},
		"db_parametrization_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'db_parametrization'"
		},
		"ecars_edina_ayush_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ecars_edina_ayush'"
		},
		"param_input_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'param_input'"
		},
		"param_output_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'param_output'"
		},
		"watermark_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'watermark_data'"
		},
		"zip_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'zip'"
		},
		"SAS_SRC_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'SAS_SRC'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/web activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://dummy.restapiexample.com/api/v1/employees",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://dummy.restapiexample.com/api/v1/create",
							"method": "POST",
							"headers": {},
							"body": {
								"name": "test",
								"salary": "123",
								"age": "23"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blobtoblobcpysrc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Blobtoblobcpysrc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Edina_Dev_Sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Edina_Dev_Sql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAS_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('SAS_SRC_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobtoblobcpydestination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blobtoblobcpydestination_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cars_Sql_destination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('cars_Sql_destination_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cars_cpy_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('cars_cpy_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_parametrization')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"dbname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('db_parametrization_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ecars_edina_ayush')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ecars_edina_ayush_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/param_input')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('param_input_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/param_output')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('param_output_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/watermark_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('watermark_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/zip')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('zip_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Carscsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blobtoblobcpysrc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cars2.txt",
						"container": "car"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Blobtoblobcpysrc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_EDINA_DEV_CARS_CPY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Edina_Dev_Sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "yearof",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "carscpy"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Edina_Dev_Sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_EDINA_DEV_CARS_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Edina_Dev_Sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LogTaskControl"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "type",
						"type": "varchar"
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "yearof",
						"type": "varchar"
					},
					{
						"name": "createddate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "cars"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Edina_Dev_Sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_FRM_FILE_INPUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "param_input",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "frm file"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "FRMLocation20200304-080016.csv",
						"container": "input"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/param_input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_FRM_TABLE_DESTINATION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cars_Sql_destination",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "frm file"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "FRM_FILE1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cars_Sql_destination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_LOGTASKCONTROL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Edina_Dev_Sql",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "LogTaskControl"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LogTaskControlFlowKey",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "StartTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EndTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DataFactory",
						"type": "nvarchar"
					},
					{
						"name": "Pipeline",
						"type": "nvarchar"
					},
					{
						"name": "StartingActivity",
						"type": "nvarchar"
					},
					{
						"name": "EndingActivity",
						"type": "nvarchar"
					},
					{
						"name": "SchemaName",
						"type": "nvarchar"
					},
					{
						"name": "TableName",
						"type": "nvarchar"
					},
					{
						"name": "TotalRowsFromSource",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalRowsFailed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalRowsInserted",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TotalRowsUpdated",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GroupId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "DataLoadStatus",
						"type": "nvarchar"
					},
					{
						"name": "MainEntityName",
						"type": "varchar"
					},
					{
						"name": "AdfRunId",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "process",
					"table": "LogTaskControlFlow"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Edina_Dev_Sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "zip",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cars.zip",
						"container": "zip"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/zip')]"
			]
		}
	]
}